
.swagger-ui .information-container {
  display: none;
}

.swagger-ui .scheme-container {
  background: none !important;
  padding: 10px 0 !important;
}


.swagger-ui {

  .opblock .opblock-section-header {
    background: hsl(var(--background) / 0.3) !important;
    color: hsl(var(--foreground)) !important;


  }

  .opblock-tag {
    color: hsl(var(--foreground)) !important;
  }
}

.swagger-ui .model-container {
  background: hsl(var(--muted) / 0.3) !important;
  color: hsl(var(--foreground)) !important;

  td, span {
    color: hsl(var(--muted-foreground)) !important;
  }

}

.swagger-ui .model-toggle.collapsed::after, .model-toggle::after {
  filter: invert(0.3);
}


.swagger-ui .parameter__in,
.swagger-ui .parameter__type,
.swagger-ui .opblock-tag small {
  color: hsl(var(--muted-foreground)) !important;

}

.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated,
.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-title_normal p,
.swagger-ui .parameter__name,
.swagger-ui .parameter__description,
.swagger-ui .parameter__required,
.swagger-ui .parameter__deprecated,
.swagger-ui .parameter__enum,
.swagger-ui .parameter__default,
.swagger-ui .parameter__example,
.swagger-ui .tab li,
.scheme-container {
  color: hsl(var(--foreground)) !important;
}


.swagger-ui .opblock, .swagger-ui h4, .swagger-ui td, .swagger-ui th, .swagger-ui .btn,
.swagger-ui .responses-inner h4, .swagger-ui .responses-inner h5,
.swagger-ui .response-col_status .response-undocumented,
{
  color: hsl(var(--foreground)) !important;
}

.swagger-ui svg {
  fill: hsl(var(--foreground)) !important;
}

.swagger-ui .opblock.opblock-deprecated .opblock-summary-method {
  background: #707070 !important;
}

.swagger-ui .response-control-media-type__accept-message {
  color: #70e382 !important;
}

.swagger-ui .response-control-media-type--accept-controller select {
  border-color: #70e382 !important;
}

.swagger-ui .parameter__name.required:after,
.swagger-ui .parameter__name.required span{
  color: var(--brand-color) !important;
}

.swagger-ui pre {
  background: #0a0a0a !important;
}

.swagger-ui textarea, .swagger-ui select {
  color: white !important;
  background: #0a0a0a !important;
}

.swagger-ui .dialog-ux .modal-ux-content p,
.swagger-ui .dialog-ux .modal-ux-content label,
.swagger-ui .dialog-ux .modal-ux-header h3 {
  color: hsl(var(--muted-foreground)) !important;
}

.swagger-ui .dialog-ux .modal-ux-header,
.swagger-ui .auth-container {
  border-color: transparent !important;
  margin: 0 !important;
}

.swagger-ui .dialog-ux .modal-ux-header {
    background: hsl(var(--muted) / 0.3) !important;
  margin-bottom: -5px;
}


.modal-ux-content {
  padding: 0 !important;
}

.auth-container:nth-child(even) {
  background: hsl(var(--muted) / 0.1) !important;
}

.auth-container {
  padding: 15px 30px !important;
}

.swagger-ui .dialog-ux .modal-ux {


  border-color: transparent !important;
  background: hsl(var(--background)) !important;

  .auth-btn-wrapper {
    display: flex;
    justify-content: left;

    button:not(:last-child) {
      margin-right: 10px;
    }

  }

  input {
    background: hsl(var(--muted) / 0.3) !important;
  }

}

.swagger-ui .parameters input {
  background: hsl(var(--background) / 0.8) !important;
  border-color: hsl(var(--muted)) !important;
}